{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- //Note: This is for version 3.5.0. You can change it here \/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <h1 class="site_title">Quiz like Application</h1>
            <p class="site_description">Take a quiz or create your own!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            {% if all_quiz_list %}

            <section id="content" class="card_container">

                {% for quiz in all_quiz_list %}

                <div class="card text-white bg-primary sm-3 lg-3 mb-3"
                    style="max-width:100rem; min-width: 10rem;  margin:2px;">
                    <div class="card-header">{{ quiz.quiz_title }}</div>
                    <div class="card-body" style="text-align: justify; text-align: center;">
                        <h5 class="card-title">{{ quiz.num_questions }} Questions</h5>
                        <a class="btn btn-primary btn-lg" href="{% url 'quiz:single_quiz' quiz.id %}"
                            role="button">Start</a>

                    </div>
                </div>

                {% endfor %}
            </section>

            {% else %}
            <p>No quizzes are available.</p>
            {% endif %}

        </div>
    </div>

    {% else %}
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-6">
            <h2> Ohoooo Please login or Register.........!</h2>
        </div>
    </div>
    <!-- </div> -->
</div>
{% endif %}

{% endblock content %}