{% extends 'base.html' %}
{% load static %}
{% block home %}

<style>
    .banner{
	background-image:url('http://www.hd-freewallpapers.com/latest-wallpapers/abstract-website-backgrounds.jpg');
	text-align: center;
    /* color: #fff; */
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 40px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
	color:#fff;
}


</style>
<!-- <div class="conatiner"> -->
 
    <div class="banner">
        <div class="container">
        <div class="banner-text">
        
        <div class="banner-heading">
        Glad to see you here !
        </div>
        <div class="banner-sub-heading">
        Wellcome to School 
        </div>

   
        <!-- <button type="button" id="start" onclick="myFunction()" class="btn btn-warning text-dark btn-banner">Get started Quiz</button> -->
       

        </div>
        </div>
    </div>
   
 

    <script>
        // function myFunction() {
        //   alert("Please Register here!");
        // }
        </script>
        

<!-- </div> -->
{% endblock %}
